/* Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

/* Global Variables */
:root {
  /* Colors */
  --Red: #f44336;
  --Blue: #0075ff;
  --Alt-Blue: #0d69d5;
  --Orange: #f59e0b;
  --Green: #22c55e;
  --Grey: #f1f5f9;
  --Alt-Grey: #eee;
  --Grey-Fonts: #888;
  /* Font Size */
  --Grey-Subs: 15px;
  --Grey-Words-Paras: 14px;
  /* P & M */
  --Padding: 20px;
  /* Border Radius */
  --BRadius: 15px;
  /* Box Shadow */
  --Blur: 10px;
  --Spread: 5px;
  --Color: #ddd;
}

/* Scrollbar Design */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--Blue);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--Alt-Blue);
}

/* ul's Style */
ul {
  list-style: none;
}

/* Links' Style */
a {
  text-decoration: none;
  text-transform: capitalize;
}

/* Sidebar Starting */
aside {
  width: fit-content;
  height: 100%;
  position: fixed;
  padding: var(--Padding);
  box-shadow: 0 0 var(--Blur) var(--Spread) var(--Color);
}

aside h3.elzero {
  text-transform: capitalize;
  width: fit-content;
  margin: 0 auto;
  padding: 0 var(--Padding) var(--Padding);
}
aside h3.elzero::after {
  
}
aside h3.elzero::before {

}
/* Sidebar Ending */

/* index's Page */
