* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --MainTransition: 300ms;
  --GrayColor: #f5eaea;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.title-span h2 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.title-span span {
  text-transform: capitalize;
  color: rgb(88, 84, 84);
  font-weight: 500;
  font-size: 17px;
}

.content {
  background-color: var(--GrayColor);
  width: calc(100% - 214.17px);
  position: absolute;
  right: 0;
  top: 82px;
  padding: 20px ;
}

.main-title {
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  font-weight: 600;
}
.main-title::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 80%;
  height: 2px;
  background-image: linear-gradient(to right, black 30%, white 30%);
}

/* Sidebar Start */
aside {
  text-align: center;
  width: fit-content;
  padding: 20px;
  background-color: white;
  height: 100%;
  position: fixed;
  box-shadow: 1px 0 5px 1px #6a646459;
}

aside .side-title {
  text-transform: capitalize;
  font-size: 25px;
  letter-spacing: 1px;
  color: black;
  border-bottom: 2px solid black;
  padding: 0 10px 10px;
  position: relative;
}
aside .side-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, 55%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
  -webkit-transform: translate(-50%, 55%);
  -moz-transform: translate(-50%, 55%);
  -ms-transform: translate(-50%, 55%);
  -o-transform: translate(-50%, 55%);
  border: 3px solid white;
}

aside ul {
  text-align: left;
}

aside ul li {
  margin-top: 23px;
  padding-top: 5px;
  padding-right: 55px;
  padding-bottom: 5px;
  padding-left: 5px;
  transition: var(--MainTransition);
  -webkit-transition: var(--MainTransition);
  -moz-transition: var(--MainTransition);
  -ms-transition: var(--MainTransition);
  -o-transition: var(--MainTransition);
}
aside ul li:first-child {
  background-color: var(--GrayColor);
}
aside ul li:hover {
  background-color: var(--GrayColor);
}

aside ul li a {
  position: relative;
  padding-left: 25px;
  color: black;
  text-transform: capitalize;
  font-size: 17px;
  width: 100%;
  display: block;
}
aside ul li a::before {
  font: var(--fa-font-solid);
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
aside ul li .active::before {
  content: "\e473";
}
aside ul li:nth-child(2) a::before {
  content: "\f013";
}
aside ul li:nth-child(3) a::before {
  content: "\f007";
}
aside ul li:nth-child(4) a::before {
  content: "\f542";
}
aside ul li:nth-child(5) a::before {
  content: "\f19d";
}
aside ul li:nth-child(6) a::before {
  content: "\f500";
}
aside ul li:nth-child(7) a::before {
  content: "\f15b";
}
aside ul li:last-child a::before {
  content: "\f53c";
}

/* Sidebar End */
/* Header Start */
header {
  width: calc(100% - 214.17px);
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div:first-child {
  padding: 10px;
  border: 1px solid #e1d2d2;
  width: fit-content;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  align-items: center;
}

header > div:first-child i {
  color: gray;
  margin-right: 10px;
}

header > div:first-child input[type="search"] {
  border: none;
  outline: none;
  width: 140px;
  font-size: 17px;
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}

header > div:first-child input[type="search"]::placeholder {
  text-transform: capitalize;
  font-size: 15px;
}
header > div:first-child input[type="search"]:focus::placeholder {
  color: transparent;
}
header > div:first-child input[type="search"]:focus {
  width: 175px;
}

header > div:last-child {
  display: flex;
  align-items: center;
}

header > div:last-child i {
  font-size: 20px;
  position: relative;
}
header > div:last-child i::after {
  content: "";
  position: absolute;
  right: -4px;
  top: -7px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header > div:last-child img {
  width: 32px;
  margin-left: 15px;
}
/* Header End */
/* Content Start */
.content.index .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 40px;
  margin-top: 50px;
}

.content.index .articles article:first-child > div:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  background-color: #e1d4d4;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.content.index .articles article:first-child > div:first-child img{
  width: 175px;
}

.content.index .articles article:first-child > div:last-child {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content.index .articles article:first-child > div:last-child .img {
  width: 100%;
  height: 100px;
  background-color: white;
  position: relative;
}

.content.index .articles article:first-child > div:last-child img {
  width: 70px;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: -40%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
}

.content.index .articles article:first-child > div:last-child .info {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #decccc;
  border-bottom: 1px solid #decccc;
}

.content.index .articles article:first-child > div:last-child .info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% /3);
}

.content.index .articles article:first-child > div:last-child .info div h4 {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
}

.content.index .articles article:first-child > div:last-child .info div span {
  margin-top: 7px;
  text-transform: capitalize;
  color: #6d6262;
}

.content.index .articles article:first-child > div:last-child .link {
  
}
/* Content End */